@{
  Layout = "_Layout";
}

@using ToDoList.ViewModels
@model RegisterViewModel

<h2>Register a new user</h2>
<hr />

@*ViewData is a dictionary that holds data being passed to the view, including 
ModelState and any ViewBag stuff*@
@if(!ViewData.ModelState.IsValid)
{
  //this helper method generates bulletpoint list of _all_ current errors
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")
}

@using (Html.BeginForm("register", "Account", FormMethod.Post))
{
  @Html.LabelFor(user => user.Email)
  @Html.TextBoxFor(user=> user.Email)

  @Html.LabelFor(user=> user.Password)
  //EditorFor helper method changes input's type attribute based on our validation (in the controller)
  //this gives visual cue of black dots, cannot use textboxfor because we dont want text type
  @Html.EditorFor(user=> user.Password)

  @Html.LabelFor(user=> user.ConfirmPassword)
  @Html.EditorFor(user=> user.ConfirmPassword)

  <input type="submit" value="Register" />
}
<p>@Html.ActionLink("Back to accounts page", "Index")</p>